 <div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <app-tabif></app-tabif>
      <hr>
      <app-ngtabfor></app-ngtabfor>
      <hr>
      <app-ngswitchtab></app-ngswitchtab>

<!-- 
        <app-product-display
        [product]="selectedProduct"
        ></app-product-display> -->
        <!-- <div class="product-container">
          <img [src]="product.images[0]" alt="Product Image" class="product-image">
        
          <div class="product-info">
            <h2>{{ product.title }}</h2>
            <p>Rating: {{ product.rating }} ★ ({{ product.reviews_count }} reviews)</p>
            <p>Price: <strong>{{ product.total_price }}</strong></p>
        
            <ul>
              <li *ngFor="let feature of product.product_description">{{ feature }}</li>
            </ul>
        
            <div class="actions">
              <button (click)="addProduct()">+</button>
              <span style="  font-size: 18px; font-weight: bold;">
                {{ productCount }}  
              </span>
              <button (click)="removeProduct()">-</button>
              <span (click)="toggleLike()" class="heart" [class.liked]="liked">♥</span>
            </div>
        
            <div class="tabs">
              <button (click)="setTab('description')">Description</button>
              <button (click)="setTab('reviews')">Reviews</button>
              <button (click)="setTab('specs')">Specifications</button>
            </div>
        
            <div class="tab-content">
              <ng-container [ngSwitch]="tab">
                <p *ngSwitchCase="'description'">{{ product.product_details }}</p>
                <p *ngSwitchCase="'reviews'">Total Reviews: {{ product.reviews_count }}</p>
                <p *ngSwitchCase="'specs'">{{ product.product_specifications || 'No specifications available' }}</p>
              </ng-container>
            </div>
          </div>
        </div> -->
        

 
         
        <!-- <div style="text-align: center; margin-top: 50px;">
          <button (click)="addProduct()">+</button>
        
          <span style="margin: 0 20px; font-size: 18px; font-weight: bold;">
            {{ productCount }} Products
          </span>
        
          <button (click)="removeProduct()"> - </button>
        </div>
         -->
    </div>
  </div>
</div>